{% extends "main/base.html" %}

{% block content %}
{% load static %}

<body>

        {% for i in myPictures %}
        <form action="{% url 'photo:index' %}" method="post"> 
        {% csrf_token %}
            <img src="/{{ i.photo.url }}" width=400px/>
            <p>{{i.picture_name}}</p>
            <p>{{i.upload_date}}</p>
            <a download href="/{{ i.photo.url }}" target="_blank">download picture</a>
            <input hidden type="text" value="{{i.id}}" name="photo_id" />
            <input type="submit" value="Open Picture" />
        </form>
        {% endfor %}
</body>

{% endblock content %}