<style>

.pageButton {
    text-decoration:none;
    color:blue;
}
.InactivePageButton {
    text-decoration:none;
    color:gray;
}
</style>

{% extends "base.html" %}

{% block content %}

    <h1>All results of alignment for an account</h1>

        <form action="{% url 'align:allresults' %}" method="post"> 
            {% csrf_token %}
            <input type="text" placeholder="Search..." name="search"/><br/>
            <input type="submit" value="search"/>
            <br>
            <br>

            {% if page > 1  %}
                <a class="pageButton" href="http://127.0.0.1:8000/align/allresults/{{page|add:"-1"}}/">&#60;Prev</a>
            {% else  %}
                <span class="InactivePageButton">&#60;Prev</span>
            {% endif %}

            <span>Page <input type="text" value={{page}} name="change_page" style="width: 40px"/>/{{total_nb_pages}}</span>

            {% if page < total_nb_pages %}
                <a class="pageButton" href="{% url 'align:allresultsPages' page_nb=page|add:"1" %}">Next></a>
            {% else  %}
                <span class="InactivePageButton">Next></span>
            {% endif %}
            <br>
        </form>


        {% if name_exist %}
            <p>{{name_exist}}</p>
        {% endif %}

        {% if no_match %}
            <p>{{no_match}}</p><br><br>
        {% endif %}

        {% for i in alignments %}
            <p> {{i.alignment_name}}</p>
            <pre  xml:space="preserve">{{ i.alignment_result }}</pre>
        {% endfor %}

{% endblock content %}