<head>
<style>

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    width:90%;
    height:150px;
}
</style>
</head>
{% extends "main/base.html" %}

{% block content %}

<body>
    <h1>Sequence alignment page</h1>
        <p>
            Enter two sequences of character each less than 500 characters.<br>
            Or upload two text files.<br>
            The sequences have to be in <b>FASTA format</b>, starting with a ">" character. See example below:<br><br>
            <i><small>
                >Name of sequence1<br>
                TGAAGATGGATGATGACCAGAT<br>
                TGACCCGCGCGCGCATGCGCGC<br>
            </small></i>
            <br>
            <i><small> 
                >Name of sequence2<br>
                CCCCCCCCCCCCCGATGGGCAT<br>
                TGACCCGCGCGCGCATGCGCGC<br>
            </small></i>
        </p>
        <br>

        <form enctype="multipart/form-data" action="{% url 'align:result' %}" method="post"> 
        {% csrf_token %}
            <diV>
                <p> </p>
                <h3>Sequence1</h3>
                <textarea autocomplete='off' name="sequenceA" cols="1" row="1"></textarea>
                <input name="fileA" type="file" autocomplete='off'>
            </div>

            <diV>      
                <p> </p>
                <h3>Sequence2</h3>
                <textarea autocomplete='off' name="sequenceB" cols="1" row="1"></textarea>
                <input autocomplete='off' name="fileB" type="file">
                <p> </p>
                <input type="submit" value="Submit" />
            </div>
        </form>
    <br>
    <br>
    <br>
</body>

{% endblock content %}